.card_text {
	margin-top: 10px;
	width: 138px;
	color: #FF868E;
	text-align: center;
	font-family: Jost;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	background: #FFF;
}